
<form >
    <h2 class="headingEvent">Remainder</h2>
    <div class="row mainDiv" >
        <div class="col-4"></div>
        <div class="col-4">
           <table class="table">
               <tr class="trheading">
                   
                  
                   <td>Date</td>
                   <td>Event</td>
                   
               </tr>
               <tbody>
                <tr  *ngFor="let result of eventDet;"  >
                   
                    
                  <td >{{result.eventdate}}</td>
       
                  <td>{{result.Event}}</td>
               


</tr>
               </tbody>
           </table>
        </div>
        <div class="col-4"></div>
        
        <input type="submit" class="fadeIn fourth"  value="back" (click)="back()" >
    </div>
    
</form>