<h3>Welcome {{user}}</h3>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> REMAINDER APP </h2>
      
  
      <!-- Icon -->
      
  
      <!-- Login Form -->
      
      <form>
        <img class="notificationImg blink-image" src="/assets/images/notification.png" (click)="remainder()">
          
        <input type="submit" class="fadeIn fourth createbtn"  value="Create Event" (click)="create()">
        <input type="button" class="fadeIn fourth"   value="show Event"(click)="show()" >
      </form>
  
      
     
  
    </div>
  </div>
