
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active">Create New Account  </h2>
      
  
      <!-- Icon -->
      
  
      <!-- Login Form -->
      
      <form (ngSubmit)="signUp()" [formGroup]="registerform">
        <input type="text"  class="fadeIn second"  name="login" formControlName="uID"  placeholder="User ID">
        <div class="errors" *ngIf=" (registerform.get('uID')?.touched || registerform.get('uID')?.dirty) && registerform.get('uID').errors "></div>
        <input type="text"  class="fadeIn second"  name="login" formControlName="userName"  placeholder="User Name">
       <div class="errors" *ngIf=" (registerform.get('userName')?.touched || registerform.get('userName')?.dirty) && registerform.get('userName')?.errors ">Invalid User Name</div>
        <input type="text"  class="fadeIn third" name="login" formControlName="password"  placeholder="password">
        <div class="errors" *ngIf=" (registerform.get('password')?.touched || registerform.get('password')?.dirty) && registerform.get('password')?.errors ">Invalid password</div>
        <input type="submit" class="fadeIn fourth"   value="Sign Up">
      </form>
  
      
     
  
    </div>
  </div>
